<div class="border-b">
    <div class="flex h-16 items-center px-4">
        <button id="dropdownInformationButton2" data-dropdown-toggle="dropdownInformation2" class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-white shadow-sm hover:bg-slate-50 hover:text-accent-foreground h-9 px-4 py-2 w-[200px] justify-between" role="combobox" aria-expanded="false" aria-label="Select a team" type="button" aria-haspopup="dialog" aria-controls="radix-:r8i:" data-state="closed">
            <span class="relative flex shrink-0 overflow-hidden rounded-full mr-2 h-5 w-5">
                <img class="aspect-square h-full w-full grayscale" alt="Alicia Koch" src="https://avatar.vercel.sh/personal.png">
            </span>
            Alicia Koch
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-auto h-4 w-4 shrink-0 opacity-50">
                <path d="M4.93179 5.43179C4.75605 5.60753 4.75605 5.89245 4.93179 6.06819C5.10753 6.24392 5.39245 6.24392 5.56819 6.06819L7.49999 4.13638L9.43179 6.06819C9.60753 6.24392 9.89245 6.24392 10.0682 6.06819C10.2439 5.89245 10.2439 5.60753 10.0682 5.43179L7.81819 3.18179C7.73379 3.0974 7.61933 3.04999 7.49999 3.04999C7.38064 3.04999 7.26618 3.0974 7.18179 3.18179L4.93179 5.43179ZM10.0682 9.56819C10.2439 9.39245 10.2439 9.10753 10.0682 8.93179C9.89245 8.75606 9.60753 8.75606 9.43179 8.93179L7.49999 10.8636L5.56819 8.93179C5.39245 8.75606 5.10753 8.75606 4.93179 8.93179C4.75605 9.10753 4.75605 9.39245 4.93179 9.56819L7.18179 11.8182C7.35753 11.9939 7.64245 11.9939 7.81819 11.8182L10.0682 9.56819Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
        </button>
        <nav class="flex items-center space-x-4 lg:space-x-6 mx-6">
            <a class="text-sm font-medium transition-colors hover:text-primary" href="/examples/dashboard">Overview</a>
            <a class="text-sm font-medium text-muted-foreground transition-colors hover:text-primary" href="/examples/dashboard">Customers</a>
            <a class="text-sm font-medium text-muted-foreground transition-colors hover:text-primary" href="/examples/dashboard">Products</a>
            <a class="text-sm font-medium text-muted-foreground transition-colors hover:text-primary" href="/examples/dashboard">Settings</a>
        </nav>
        <div class="ml-auto flex items-center space-x-4">
            <div>
                <input class="flex h-9 w-full rounded-md outline-0 border border-slate-300 bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:w-[100px] lg:w-[300px]" placeholder="Search..." type="search">
            </div>
            <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground px-4 py-2 relative h-8 w-8 rounded-full" type="button" id="radix-:r8j:" aria-haspopup="menu" aria-expanded="false" data-state="closed">
                <span class="relative flex shrink-0 overflow-hidden rounded-full h-8 w-8">
                    <img class="aspect-square h-full w-full" alt="@shadcn" src="https://ui.shadcn.com/avatars/01.png">
                </span>
            </button>
        </div>
    </div>
</div>
<div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-44">
    <div class="px-4 py-3 text-sm text-gray-900">
        <div>Bonnie Green</div>
        <div class="font-medium truncate">
        <span>nameflowbite.com</span>
        </div>
    </div>
    <ul class="p-1 text-sm text-gray-700" aria-labelledby="dropdownInformationButton">
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Dashboard</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Settings</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Earnings</a>
        </li>
    </ul>
    <div class="p-1">
        <a href="/login" class="block px-4 py-2 rounded text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
    </div>
</div>

<div id="dropdownInformation2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow w-52">
    <div class="px-4 py-3 text-sm text-gray-900">
        <div>Bonnie Green</div>
        <div class="font-medium truncate">
        <span>nameflowbite.com</span>
        </div>
    </div>
    <ul class="p-1 text-sm text-gray-700" aria-labelledby="dropdownInformationButton2">
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Dashboard</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Settings</a>
        </li>
        <li>
        <a href="#" class="block px-4 py-2 rounded hover:bg-gray-100">Earnings</a>
        </li>
    </ul>
    <div class="p-1">
        <a href="#" class="block px-4 py-2 rounded text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
    </div>
</div>